body{
    background-color: rgba(221, 185, 139, 0.719);
}

.soleid{
    position: absolute;
    width: 600px;
    height: 110px;
    margin:175px 0 0 361px;
    background-color: rgb(53, 77, 60);
    text-align: center;
    padding-top: 10px;
}