<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheet/style.css'>
  <script src='main.js'></script>
</head>
<body>
  <div class="outerBox">
    <div  class="headline">
       <div class="headline"> <img src="/image/log.jpg" style="height: 100px; width: 100px;" alt="" srcset=""><h1 style="text-align: center; padding-top: 10px; margin-top: -87px;">Keral Grama bank <br> केरल का बैंक </h1> 
<p></p>
  <p style="padding-left: 229px;">A private ownerd bank sponsored by Afsal </p>
</div>
      <div  class="text" style="background-color: aliceblue;" >
      <h1 style="color: aliceblue;">Kerala Gramin Bank</h1>
      </div>
    </div>
    <div class="soleid">
      <div id="sole" style="padding-right: 41px;">
        <form action="/user" method="post" enctype="application/x-www-form-urlencoded">
      <label style="font-size: 20px; color: rgb(245, 31, 77); font-weight: bold;">Enter Your Sole Id</label>
      <input type="text" name="name" ><p></p>
      <label style="font-size: 20px; color: rgb(245, 31, 77);font-weight:bold ; ">Enter Your User Id</label>
      <input type="text" name="AGE"><p></p>
      </div>
      <button  > Submit</button>
      </form>
   </div>
  </div>
</body>
</html>