<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheet/mainPage.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='/javascript/ajax.js'></script>
    <title>Title of the document</title>
    <style>
      div.scroll2 {
        background-color: #e5e3e6;
        width: 400px;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        padding: 20px;

      }
      div.scroll {
        background-color: #fed9ff;
        width: 400px;
        height: 400px;
        overflow-x: hidden;
       
        text-align: left;
        padding: 20px;

      }
    </style>
  </head>
  <body style="background-color: #e5e3e6;" >
    <div class="row">
 <div class="container ">
 
  <div class="headline" style="background-color: rgb(3, 56, 3);"> <img src="/image/log.jpg" style="height: 100px; width: 100px;" alt="" srcset=""><h1 id="heh" style= "text-align: center; padding-top: 10px; margin-top: -87px; "  >Keral Grama bank <br> केरल का बैंक </h1> 
    <p></p>
      <p style="padding-left: 229px;" id="heh">A private ownerd bank sponsored by Afsal </p>
    </div>
      <div class="marquee-w">
        <div class="marquee">
            <span>NEW CIRCULAR NO:32312 2023/22 WILL RELEASE ON JANUVARY 30 ,CONTACT NO: 9074784343&nbsp;&nbsp;&nbsp;</span>
        </div>
        <div class="marquee marquee2">
           
        </div>
    </div>
   


    </div>
    </div>
    <div class="main" style="margin-top: 10px; margin-left: 200px;">
    <div class="head" style="background-color: rgb(23, 150, 97); margin-top: -316px;margin-left: 176px; margin-bottom: 200px; height: 72px; width: 800px; text-align: center;"><h2 style="font-weight: 300; color: #fed9ff;">
       Fiancle Core User Menu</h2><p style="color: #fed9ff;">And Your Favorites</p></div>
    <div class="scroll" style="margin-left: 177px; margin-top: -201px;"  >
     <ul>
      <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus</li>
      <p> <li> <img src="" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
      <p> <li> <img src="gif.gif" alt="" height="10px" width="10px"> finacle menus </li></p>
                 </ul>
    </div>
    <div class="scroll2" style="margin-left: 577px; margin-top: -400px;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s 
        when an unknown printer took a galley of type and scrambled i<p></p>t to make a type 
        specimen book. It has survived not only five centuries, but also the leap into 
        eleir default model text, and a 
        search for 'lorem ipsum' will uncover many web sites still in their infancy.
      </div>
      <div class="row">
        <div class="col-md-3">
          <form action="/menu"method="post" enctype="application/x-www-form-urlencoded">
      <div id="menu" onkeypress="" style="height: 28px; width: 700px; background-color: rgb(255, 0, 21); margin-left: 164px; position: fixed; padding-top: 2px;">
      
      </div>
        
    </div>
    <div class="col-md-9" style="margin-left: 190px; background-color: azure; width: 802px;  "  id="mem" >  Menu option <input id="menus" type="text" class="search" name="menu" onchange="search(this.value)"  /> &nbsp;&nbsp; Screen lock &nbsp;&nbsp; accept &nbsp;&nbsp; commit&nbsp;&nbsp;background&nbsp;&nbsp;profit&nbsp;&nbsp;netBanking&nbsp;&nbsp;list&nbsp;&nbsp;automation</div>
     <input type="submit"  style="width: 0px; height: 0px;">
    </form>
  </div>
    </div>
    <footer style="margin-left: 284px;">
      <h1 style="color: rgb(71, 95, 48);">
       <b>Hear we are contact Helpdesk Toll Free Number 9074784343</b> 
      </h1>
    </footer>
  
{{!-- 
    <script>
     

   
/function search(ele) {
  
 /  /   $.ajax({
    //  url:'/menu/'+ele,
      method:'post',
      
      //success:((respons,reg)=>{
        //console.log(respons)
        //console.log(reg)
      })
    })
            
    
}
    </script> --}}
  </body>
</html>