<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheet/login.css'>
  <script src='main.js'></script>
</head>
<body style="background-color: white;">
 <div class="headline" > <img src="/image/log.jpg" style="height: 100px; width: 100px;background-color: rgb(3, 56, 3);" alt="" srcset=""><h1 style="text-align: center; padding-top: 10px; margin-top: -87px;" class="cc">Keral Grama bank <br> केरल का बैंक </h1> 
<p></p>
  <p style="padding-left: 229px;" class="cc">A private ownerd bank sponsored by Afsal </p>
</div>
  <div class="marquee-w">
    <div class="marquee">
        <span>NEW CIRCULAR NO:32312 2023/22 WILL RELEASE ON JANUVARY 30;,CONTACT NO: 9074784343  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div class="marquee marquee2">
       
    </div>
</div>
    <!-- <div class="marquee-w">
        <div class="marquee">
        <span>welcome to malayalee bank pvt ltd /2012/01/30 , online banking&nbsp;&nbsp;&nbsp; </span>
        </div>
   
    <div class="marquee marquee2">
        <span> welcome to malayalee bank pvt ltd /2012/01/30 , online banking,&nbsp;&nbsp;&nbsp; </span>
    </div> 
</div> -->

    <div class="soleid" style="margin-top: -300px; margin-left: 316px;">
      <div><img src="/image/Finacle.png" style="height: 70px; width: 70px;" alt=""></div>
      <div id="sole" style="padding-right: 41px; padding-top: 84px; " >
        <div id="core" > <h2>Core Banking Solution  </h2> <span>Version 7.01.18</span></div>
       
        <form action="/main" method="post" enctype="application/x-www-form-urlencoded">
      <label style="font-size: 20px; color: rgba(0, 0, 0, 0.904); font-weight: bold;">User name</label>
      <input type="text" name="name" ><p></p>
      <label style="font-size: 20px; color: rgb(0, 0, 0);font-weight:bold ; ">Password </label>
      <input type="password" name="password"><p></p>
      <label style="font-size: 20px; color: rgba(0, 0, 0, 0.925); font-weight: bold; padding-left: 68px;">Language </label>
      <select id="language" name="language" style="width: 181px ;">
        <option value="english">English</option>
        <option value="hindi">Hindi</option>
      </select>
      
      <button  > Submit</button>
      </div>
      
      </form>
   </div>
  </div>
  <script>
    shortcut.add
  </script>
</body>
</html>